/* .red{
    height: 100px;
    background-color: red;
}
.green{
   
    height: 100px;
    background-color:green;
}
.yellow{
    height: 100px;
    background-color: yellow;
}
.blue{
    height: 100px;
    background-color: blue;
} */


* {
    margin-top: 50px;
}
img{
    width: 100%;
}
